<li><a href="/v1/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<!-- <li><a href="/v1/components/" class="nav-link<%- page.path.match(/components/) ? ' current' : '' %>">Components</a></li> -->
<li><a href="/v1/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<!-- <li><a href="/v1/examples/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li> -->
<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>

<!--
<li>Guide coming soon</li>
-->

<!--
<%- partial('partials/ecosystem_dropdown') %>
-->
