<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- page.title ? page.title + ' | ' : '' %>Anymod</title>
  <meta charset="utf-8">
  <meta name="description" content="<%- theme.site_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <meta property="og:type" content="article">
  <meta property="og:title" content="<%- page.title ? page.title + ' - ' : '' %>Anymod">
  <meta property="og:description" content="<%- theme.site_description %>">
  <meta property="og:image" content="https://res.cloudinary.com/component/image/upload/v1510868601/a_logo_120x120.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%- page.title ? page.title + ' - ' : '' %>Anymod">
  <meta name="twitter:description" content="<%- theme.site_description %>">
  <meta name="twitter:image" content="https://res.cloudinary.com/component/image/upload/v1510868601/a_logo_120x120.png">

  <link rel="icon" href="https://res.cloudinary.com/component/image/upload/v1510868601/a_logo_120x120.png" type="image/x-icon">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
  <!-- <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'> -->

  <!-- main page styles -->
  <%- css(isIndex ? 'css/index' : 'css/page') %>

  <!-- this needs to be loaded before guide's inline scripts -->
  <script src="/js/vue.min.js"></script>
  <script>window.PAGE_TYPE = "<%- page.type %>"</script>

  <!-- FullStory -->
  <script>
    window['_fs_debug'] = false;
    window['_fs_host'] = 'fullstory.com';
    window['_fs_org'] = '7VKZ4';
    window['_fs_namespace'] = 'FS';
    (function(m,n,e,t,l,o,g,y){
      if (window.location.host.indexOf('anymod.com') < 0) return

      if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
      g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
      o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
      y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
      g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
      g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
      g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
      d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
      ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
    })(window,document,window['_fs_namespace'],'script','user');
  </script>
  <!-- /FullStory -->
</head>
<body class="<%- isIndex ? '' : 'docs' -%>">

  <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
    <a class="menu-button"></a>
    <a class="logo" href="https://anymod.com"></a>
  </div>
  <%- partial('partials/header') %>
  <% if (!isIndex) { %>
    <div id="main" class="fix-sidebar">
      <% if (page.blog_index) { %>
        <%- partial('partials/blog') %>
      <% } else { %>
        <%- body %>
      <% } %>
    </div>
    <script src="/js/smooth-scroll.min.js"></script>
  <% } else { %>
    <%- body %>
  <% } %>

  <!-- main custom script for sidebars, version selects etc. -->
  <script src="/js/common.js"></script>

  <!-- ga -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%- theme.google_analytics %>', '<%- theme.root_domain %>');
    ga('send', 'pageview');
  </script>

  <!-- search -->
  <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
  <%- css('css/search') %>
  <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
  <script>
    [
      '#search-query-nav',
      '#search-query-sidebar'
    ].forEach(function (selector) {
      if (!document.querySelector(selector)) return
      // search index defaults to v2
      var match = window.location.pathname.match(/^\/(v\d+)/)
      var version = match ? match[1] : 'v1'
      docsearch({
        apiKey: '1869e5a6fd56b1d3d72d2e23acd8b900',
        indexName: 'anymod',
        inputSelector: selector
      })
    })
  </script>

  <!-- fastclick -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body)
    }, false)
  </script>

  <!-- Intercom -->
  <script>window.intercomSettings = { app_id: "z8b1lmpa", custom_launcher_selector: '#intercomLauncher' }</script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/f7bqkngj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>
</html>
